In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('chicago-food-inspections/food-inspections.csv')

In [3]:
data.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2320315,SERENDIPITY CHILDCARE,SERENDIPITY CHILDCARE,2216009.0,Daycare Above and Under 2 Years,Risk 1 (High),1300 W 99TH ST,CHICAGO,IL,60643.0,...,Pass,NaN,41.714168,-87.655291,"{'longitude': '41.7141680989703', 'latitude': ...",NaN,NaN,NaN,NaN,NaN
1,2320342,YOLK TEST KITCHEN,YOLK TEST KITCHEN,2589655.0,Restaurant,Risk 1 (High),1767 N MILWAUKEE AVE,CHICAGO,IL,60647.0,...,Pass w/ Conditions,23. PROPER DATE MARKING AND DISPOSITION - Comm...,41.913588,-87.682203,"{'longitude': '41.9135877900482', 'latitude': ...",NaN,NaN,NaN,NaN,NaN
2,2320328,LAS ASADAS MEXICAN GRILL,LAS ASADAS MEXICAN GRILL,2583309.0,Restaurant,Risk 1 (High),3834 W 47TH ST,CHICAGO,IL,60632.0,...,Out of Business,NaN,41.808025,-87.720037,"{'longitude': '41.80802515275297', 'latitude':...",NaN,NaN,NaN,NaN,NaN
3,2320319,LA PALAPITA,LA PALAPITA,2694702.0,Restaurant,Risk 1 (High),3834 W 47TH ST,CHICAGO,IL,60632.0,...,Pass,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,41.808025,-87.720037,"{'longitude': '41.80802515275297', 'latitude':...",NaN,NaN,NaN,NaN,NaN
4,2320228,47TH ST CANTINA,47TH ST CANTINA,2678250.0,Liquor,Risk 3 (Low),4311 W 47TH ST,CHICAGO,IL,60632.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.807662,-87.731480,"{'longitude': '41.80766199360051', 'latitude':...",NaN,NaN,NaN,NaN,NaN

In [14]:
print(data['Facility Type'].value_counts())

Restaurant                                  129847
Grocery Store                                24846
School                                       12076
Children's Services Facility                  3018
Bakery                                        2856
                                             ...
FROZEN DESSERTS DISPENSER -NON MOTORIZED         1
FOOD PANTRY                                      1
religious                                        1
TAVERN/LIQUOR                                    1
GAS STATION/GROCERY                              1
Name: Facility Type, Length: 488, dtype: int64

In [6]:
data.describe()

,Inspection ID,License #,Zip,Latitude,Longitude,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
count,1.948140e+05,1.947970e+05,194764.000000,194133.000000,194133.000000,0.0,0.0,0.0,0.0,0.0
mean,1.440338e+06,1.596390e+06,60628.734925,41.881282,-87.676873,NaN,NaN,NaN,NaN,NaN
std,6.324852e+05,8.957803e+05,122.536605,0.080815,0.058931,NaN,NaN,NaN,NaN,NaN
min,4.424700e+04,0.000000e+00,10014.000000,41.644670,-87.914428,NaN,NaN,NaN,NaN,NaN
25%,1.150290e+06,1.223250e+06,60614.000000,41.835213,-87.707817,NaN,NaN,NaN,NaN,NaN
50%,1.490294e+06,1.975752e+06,60625.000000,41.891943,-87.666847,NaN,NaN,NaN,NaN,NaN
75%,1.989746e+06,2.232948e+06,60643.000000,41.939827,-87.634990,NaN,NaN,NaN,NaN,NaN
max,2.320342e+06,9.999999e+06,60827.000000,42.021064,-87.525094,NaN,NaN,NaN,NaN,NaN